* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  background-image: url(IMG_E0435.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  display: flex;
  justify-content: space-around;
}

.logo {
  font-weight: bold;
  font-size: 25px;
  color: rgb(66, 2, 66);
  margin-top: 20px;
}

ul li {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
}

li a {
  color: rgb(66, 2, 66);
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
  text-decoration: none;
}

li a:hover {
  background-color: chartreuse;
}

.cont {
  margin-top: 200px;
  margin-left: 100px;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: rgb(66, 2, 66);
}

p {
  color: rgba(0, 0, 0, 0.699);
  margin-bottom: 40px;
}

#btn {
  font-size: 17px;
  font-weight: bold;
  background-color: rgb(66, 2, 66);
  color: gray;
  padding: 10px 25px;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid transparent;
  transition: transform 0.4s;
}

.button:hover {
  color: brown;
  transform: scale(1.4);
}

.content {
  display: flex;
  justify-content: space-around;
}

.set {
  margin-top: 200px;
  margin-left: 40px;
  color: rgba(0, 0, 0, 0.699);
  font-size: 50px;
  font-weight: bold;
  text-transform: capitalize;
}
.img {
  margin-top: 120px;
  left: 0px;
  height: 550px;
  width: 500px;
  z-index: -1;
}

.mee {
  margin-top: 180px;
  margin-left: 90px;
  font-size: 40px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.699);
}

.writt {
  margin-top: 270px;
  margin-right: 40px;
}

.ment {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
}

.last {
  color: gray;
  margin-top: 90px;
  line-height: 22px;
}

.bit {
  color: white;
  font-size: 20px;
  font-weight: bold;
  color: gray;
  padding: 10px 25px;
  text-transform: capitalize;
  text-decoration: none;
  border: 2px solid rgb(66, 2, 66);
  border-radius: 30px;
  transition: transform 0.4s;
}

.bit:hover {
  color: chartreuse;
  transform: scale(1.2);
}

.services {
  background-color: whitesmoke;
  width: 100%;
  padding: 100px 0;
}

.title {
  color: rgba(0, 0, 0, 0.699);
  font-size: 54px;
  width: 1120px;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card {
  height: 400px;
  width: 400px;
  padding: 20px 35px;
  background: rgb(66, 2, 66);
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0;
  color: rgba(0, 0, 0, 0.699);
}

h3 {
  color: gray;
  font-size: 23px;
  margin-bottom: 15px;
}

.pre p {
  color: #fcfc;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}

.card .button {
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.699);
  color: gray;
  padding: 10px 25px;
  text-transform: capitalize;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 30px;
  transition: 0.4s;
}

.card .button:hover {
  olor: chartreuse;
  transform: scale(1.2);
}
